@font-face {
    font-family: 'zabars';
    src: url('./fonts/zabars.ttf') format('truetype');
}
* {
    font-family: 'zabars', Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'zabars', Arial, Helvetica, sans-serif;
    background-image: url('./img/layers_bg/start_bg.png');
    background-size: cover;
    background-position: center;
    margin: 0;
    height: 100vh;
	width: 100vw;
}

.title {
    display: flex;
    position: absolute;
    top: 1.5vh;
}

.title-El {
	display: flex;
	justify-content: center;
	align-items: center;
}

h1 {
    font-size: 70px;
    letter-spacing: 5px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
	padding-left: 24px;
}

.canvas-container {
    height: 480px;
    width: 720px;
    position: relative;
	justify-content: center;
	align-items: center;
}

.timer-display {
	position: absolute; 
	top: 12px; 
	right: 20px; 
	font-size: 24px; 
	color: white; 
	z-index: 10;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
    width: 100%;
}

canvas {
    background-color: black;
    display: block;
}

:fullscreen .canvas-container,
:fullscreen .start-screen,
:fullscreen .controls-screen,
:fullscreen .end-screen,
:fullscreen .items-container,
:fullscreen .settings-screen,
:fullscreen .legal-container {
    width: 100vw;
    height: 100vh;
}

:fullscreen .controls,
:fullscreen .items,
:fullscreen .settings {
    width: 50%;
    height: 50%;
    margin: auto;

}

:fullscreen .fs-centered {
    display: block;
    position: absolute;
    top: 350px;
    left: 0;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    right: 0;
}

.start-screen {
    background: url('img/layers_bg/startscreen_1.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 480px;
    width: 720px;
    position: absolute;
    z-index: 2;
}

.end-screen {
    background-image: url('img/layers_bg/game over.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 480px;
    width: 720px;
    position: absolute;
    display: none;
    justify-content: center;
    z-index: 2;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.controls-screen,
.items-container,
.settings-screen,
.legal-container {
    display: none;
	height: 480px;
    width: 720px;
    position: absolute;
    z-index: 3;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}

.settings {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.items-container {
    flex-direction: column;
}

.items-container
.box img {
    width: 80px;
}

.screen-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.screen-title h2 {
    margin-block-start: 0.5em;
    margin-block-end: 0.7em;
	letter-spacing: 1px;
}

.controls,
.items {
    display: flex;
    justify-content: center;
    margin-left: 100px;
    margin-right: 100px;
	letter-spacing: 1px;
}

.items {
    font-size: 26px;
    font-weight: 700;
    hyphens: auto;
    text-align: justify;
}

.p20-top {
	padding-top: 20px;
}

.controls-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 18px;
    font-weight: 700;
}

.box {
    height: 70px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.jc-center {
    justify-content: center;
}

.jc-left {
    justify-content: flex-start;
    padding-left: 40px;
    width: 350px;
}

.box img {
    width: 40px;
}

.endscreen-button-container {
	display: flex;
	display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    position: absolute;
    bottom: 40px;
}

.end-screen button {
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    background-color: #ff9600;
    border-radius: 15px;
}

.menu-buttons {
    display: flex;
    position: absolute;
    width: fit-content;
    top: 60px;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
    gap: 15px;
    z-index: 3;
}

.ingame-menu {
    display:none;
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    z-index: 2;
    height: fit-content;
    width: 100%;
    user-select: none;
    -webkit-user-select: none;
}

.padding10 {
    padding: 0px 10px !important;
}

.ig-btn {
    width: 30px;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
}

.w-25 {
    width: 25px;
}

.button-container {
    display: block;
    position: relative;
    width: fit-content;
    height: fit-content;
    left: 20px;
    top: 20px;
	max-width: 700px;
}

.button-control {
    margin: 10px;
    padding: 12px 20px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    border: 2px solid white !important;
    border-radius: 10px;
    display: block;
    color: black;
    font-size: 16px;
    border: 0px;
    font-weight: 500;
    box-shadow: 0px 0px 14px -7px #ff4500;
    background-image: linear-gradient(45deg, #FF6347, #FF5508 51%, #FF4500 100%);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
	letter-spacing: 1px;
}

.button-control:hover {
    transform: translateY(-8px);
	background-image: linear-gradient(45deg, #F20216, #F20216 51%, #F20216 100%);
}

.next-button-control {
    margin: 10px;
    bottom: 10px;
    position: fixed;
    right: 10px;
    padding: 12px 20px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    border: 2px solid white !important;
    border-radius: 10px;
    display: block;
    color: black;
    font-size: 16px;
    border: 0px;
    font-weight: 500;
    box-shadow: 0px 0px 14px -7px #ff4500;
    background-image: linear-gradient(45deg, #FF6347, #FF5508 51%, #FF4500 100%);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    letter-spacing: 1px;
}

.button-99:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

.button-99:active {
    transform: scale(0.95);
}

.s-btn-width {
    width: 250px;
}

.imprint-container {
    position: fixed;
    bottom: 0;
    right: 0;
}

.m-btn-image-container {
    display: none;
    gap: 30px;
    user-select: none;
    -webkit-user-select: none;
}

.m-btn-img {
    width: 45px;
	display: none;
    user-select: none;
    -webkit-user-select: none;
}

@media (max-width:1300px) {

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 480vh;
    width: 720vw;
}

.mobile-button-container {
    width: 100%;
    display: none;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    margin-bottom: 8px;
    z-index: 3;
    user-select: none;
    -webkit-user-select: none;
}

.m-btn-image-container {
    display: flex;
    gap: 30px;
    user-select: none;
    -webkit-user-select: none;
}

.m-btn-img {
    width: 45px;
    user-select: none;
    -webkit-user-select: none;
	display: flex;
}

.m-left {
    margin-left: 48px;
}

.m-right {
    margin-right: 48px;
}


.rotate-container {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #30363c;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    z-index: 4;
    position: absolute;
}

.rotate-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
	font-size: 18px;
	letter-spacing: 2px;
    gap: 48px;
}

.rotate-message img {
    width: 100px;
}

    .menu-buttons {
        gap: 10px;
    }

    .button-99 {
        margin: 0;
        padding: 10px 10px;
    }

    .controls-screen,
    .items-container,
    .settings-screen,
	.legal-container{
        width: 100vw;
        height: 100vh;
    }

    .canvas-container,
    .start-screen,
    .end-screen,
    .content,
    canvas {
        height: 100vh;
        width: 100%;

    }

    .end-screen button {
        bottom: 10px;
    }

    .title,
    .fullscreen-toggle {
        display: none;
    }

    .screen-title h2 {
        margin-block-start: 0.2em;
        margin-block-end: 0.2em;
    }
}

@media (max-height:1000px) {
    h1 {
        display: none;
    }
}

@media (max-width:800px)
{
	.d-none {display: none!important;}
}

@media (max-height:450px) {

.items{
font-size: 20px;
font-weight: 500px;
}

.d-none {display: none!important;}

.box{
height: 50px;
}

.controls-container{
	gap: 0px;
}

}